:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(249, 247, 247, 0.935);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  width: 100%;
  height: 100%;
}

button:hover {
  opacity: 0.8;
}
a:hover {
  opacity: 0.8;
}

.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.Main {
  flex: 1;
  width: 100%;
  align-items: stretch;
  margin: 0 auto;
  margin-top: -24px;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex: 0 0 auto;
  padding: 0 20px;
  background-color: #d9edbf;
  color: rgb(13, 3, 70);
  gap: 10px;
}

.Navbar h1 {
  align-self: center;
  text-align: center;
  width: 100%;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: start;
  align-items: center;
  background-color: white;
}

.Footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  background-color: #d9edbf;
}

.Footer a {
  color: rgb(73, 71, 71);
}

.RecipeList {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: small;
  justify-content: center;
  padding: 40px 10px;
}

.RecipeListPage {
  display: flex;
  flex-direction: column;
}

.RecipeBox img {
  width: 200px;

  height: 180px;
  object-fit: cover;
}

.BoxImage {
  text-decoration: none;
}

.RecipeBox h2 {
  color: rgb(0, 0, 0);
  font-size: x-large;
  text-align: center;
}

.RecipeContent {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(181, 180, 180);
}

.RecipeContent button {
  position: relative;
  display: inline;
  bottom: 0;
  margin-top: 10px;
}

form {
  margin: 5px auto;

  padding: 10px;
}

.RecipeDetail img {
  width: 500px;
}

.RecipeDetail {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(181, 180, 180);
  text-align: center;
}

.HomeLink {
  padding: 20px 0;
  display: inline-block;
}

.RecipePage {
  display: flex;
  color: black;
  padding: 30px;
}

.UpdatingForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  font-size: large;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(181, 180, 180);
  margin-bottom: 40px;
}

.UpdatingForm button {
  align-self: center;
}

.UpdateInput {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.AboutPage {
  margin-left: 20px;
  color: black;
}

.TeamMember {
  display: flex;

  margin-bottom: 20px;
  border: none;
  background-color: white;
  width: 50%;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(181, 180, 180);
}

.TeamMember h3 {
  margin: 0 auto;
}

.Links {
  display: flex;
  gap: 30px;
}

.MemberImage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.Links {
  margin-top: 5px;
}
.Links a {
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #88b64c;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: medium;
}
