:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  border-bottom: 1px solid white;
  width: 100vw;
  text-align: left;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 20px;
  border-right: 1px solid white;
  position: fixed;
  text-align: start;
  top: 90px;
  height: 81vh;
  width: 15vw;
  align-items: center;
}

.Footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
}

.Footer a {
  color: white;
}
